[build]
  publish = "_site"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

# Redirect all traffic to password page
[[redirects]]
  from = "/*"
  to = "/password.html"
  status = 200

# Except the password page itself and assets
[[redirects]]
  from = "/password.html"
  to = "/password.html"
  status = 200

[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200

[[redirects]]
  from = "/pages/*"
  to = "/pages/:splat"
  status = 200

[[redirects]]
  from = "/product/*"
  to = "/product/:splat"
  status = 200