[build]
  publish = "_site"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"


  # Move everyone from the old netlify.app to the new .com
[[redirects]]
  from = "https://thegirlyzone.netlify.app/*"
  to = "https://thegirlyzone.com/:splat"
  status = 301
  force = true

# Clean URL redirects
[[redirects]]
  from = "/cart"
  to = "/pages/cart/"
  status = 200

[[redirects]]
  from = "/favourites" 
  to = "/pages/favourites/"
  status = 200

[[redirects]]
  from = "/out-of-stock"
  to = "/out-of-stock.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"

    # Automatically Generate Sitemap on Build
[[plugins]]
package = "@netlify/plugin-sitemap"

  [plugins.inputs]
  buildDir = "_site"

# This tells Netlify: "If a page isn't found, show the out-of-stock page"
[[redirects]]
  from = "/*"
  to = "/out-of-stock.html"
  status = 404